ficha5-ClientBookstore/ficha5-ClientBookstore/Connected Services/BookstoreServiceReference/ServiceBookstore1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ficha5_ServerBookstore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ficha5_ServerBookstore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" type="tns:BookCategory" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:simpleType name="BookCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEB" />
      <xs:enumeration value="CHILDREN" />
      <xs:enumeration value="SCIENCE" />
      <xs:enumeration value="ROMANCE" />
      <xs:enumeration value="BIOGRAPHIES" />
      <xs:enumeration value="OTHER" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookCategory" nillable="true" type="tns:BookCategory" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
</xs:schema>